.adamsFlexBox{
    display: flex;
    height: 400px;
    background-color: yellow;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
}

h1, p {
    background-color: lightgreen;
}

img {
    width: 300px;
}